.feedback_description{border-bottom:1px solid #ccc;width:100%;margin:5px 0 0 0;padding:0 0 2px 0;display:block; }
.feedback_description1{border-bottom:1px solid #ccc;width:100%;margin:5px 0 0 0;padding:0 0 2px 0;display:block;color:black;font-style:italic;}
.feedback_bot{display:none;float:left;margin-left:-9999px;}
.feedback-email{width:150px;}/* Colors Grey:#666666;Orange: #FF8000;Red: #990000;Blue: #004B85;Green: #76b900 */
.button_descr{background:#333366;font-weight:bold;font-size:12px;padding:3px 2px 2px 2px;margin:0 2px;border:none;color:#FFF;border:none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
#button_descr{background:#333366;font-weight:bold;font-size:12px;padding:3px 2px 2px 2px;margin:0 2px;border:none;color:#FFF;border:none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}

.error[generated=true] {
	color: red;
	font-size: 11px;
	font-style: italic;
	padding: 0px 0 0px 0px;
}
tr.error td {
	padding: 0;
}

#cover {display:none; position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:9;background:#6D9FB0;filter:alpha(Opacity = 10);opacity:0.1;-moz-opacity:0.1;-khtml-opacity: 0.1}

.popup { display:none; position: absolute; z-index:10; padding: 5px; top:50%;left:50%;margin:-150px 0 0 -150px; background: #FFF; border: #666 1px solid; width:400px;font-family:Verdana,Tahoma,Helvetica,Arial;font-size:10px;}
.close { float: right; position: relative; z-index: 99999; margin: 3px 6px 0; color: #FFF;}
.pop-heading { background: white; color: #FFF; overflow: hidden; padding: 0.5em; position: absolute; width: 387px; }
.pop-info { padding: 15px 2px 15px 2px; clear:both; }
.headpopup {
	background: #3EACAC url("/i/search-list-heading-bg.png") repeat-x top;
	border-right: 1px solid #3EACAC;
	border-left: 1px solid #3EACAC;
	border-bottom: 1px solid #3EACAC;
	border-top: hidden;
	height: 25px;

	text-align: center;
	color: white;
	font-size: 8px;
	font-family: Verdana;
}
.trpopup {
	font-size: 10px;
	font-family: Verdana;
}

#dostav {display:none;}
.popup_request { display:none; position: absolute; z-index:10000; margin:-150px 0 0 -150px;padding: 5px; background: #FFF; border: #666 1px solid; width:370px; font-family:Verdana,Tahoma,Helvetica,Arial;font-size:10px;}
.popup_request_offer { display:none; position: absolute; z-index:10000; margin:0px 0 0 0px;padding: 5px; background: #FFF; border: #666 1px solid; width:370px; font-family:Verdana,Tahoma,Helvetica,Arial;font-size:10px;}
.popup_timetable { display:none; position: fixed; z-index:10; margin:0px 0 0 0px;padding: 5px; background: #FFFFFF; border: #666 1px solid; width:170px; font-family:Verdana,Tahoma,Helvetica,Arial;font-size:10px;}
.close_request { float: right; position: relative; z-index: 99999; margin: 3px 6px 0; color: #FFF;}
.request-heading { background: white; color: #FFF; overflow: hidden; padding: 0.5em; position: absolute; width: 350px; }
.request-info { padding: 15px 2px 15px 2px; clear:both; }
.popupprice {
    position:fixed;
    border:solid 0px black;
	padding: 4px;
    width:auto;
    height:auto;
    display:none;
    background-color:#F2F2F1;
	color:#000;
	z-index:1000;
}
.stockDetails, .stockDetails1 .popMessageContainer{position:relative;width:auto;height:auto;}
.stockDetails, .stockDetails1 a:hover{text-decoration:none;cursor:help;}
.stockDetails a .popMessage{display:none;padding:3px 4px;margin-left:5px;width:auto;white-space:normal;}
.stockDetails a:hover .popMessage{display:block;cursor:help;position:absolute;background:#ffffc4;border:0.1em solid #000;color:#000;padding:0.5em;text-align:left;text-decoration:none;left:28px;top:10px;width:340px;z-index:100;}

.stockDetails1 a .popMessage{display:none;padding:3px 4px;margin-left:5px;width:auto;white-space:normal;}
.stockDetails1 a:hover .popMessage{display:block;cursor:help;position:absolute;background:#ffffc4;border:0.1em solid #000;color:#000;padding:0.5em;text-align:left;text-decoration:none;left:-140px;top:10px;width:135px;z-index:100;}

@charset "UTF-8";

@font-face {
  font-family: "slick";
  src:url("./fonts/slick.eot");
  src:url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

.slick-prev1 { height: 22px; width: 22px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0px; border: none; }
.slick-next1 { height: 22px; width: 22px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0px; border: none; }
.slick-prev1:before { content: '\8592'; font-family: "slick"; font-size: 22px; line-height: 1; color: orange; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-next1:before { content: '\8594'; font-family: "slick"; font-size: 22px; line-height: 1; color: orange; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-prev1:focus { outline: none; }
.slick-next1:focus { outline: none; }
.slick-prev1.slick-disabled:before { opacity: 0.25; }
.slick-next1.slick-disabled:before { opacity: 0.25; }

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

.tooltip{
		margin:8px;
		padding:8px;
		border:1px solid grey;
		background-color:white;
		position: absolute;
		z-index: 2;
}

.x-field-mask{
	background: pink;
	border-color: #ffff;
	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
	padding-right: 5px;
}

.man_btn {
  color: #fff;
  background-color: #F27329;
  border-color: #F27329;
  display: inline-block;
  padding: 5px 5px;
  font-size: 15px;
  font-family: Play;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transperant;
  border-radius: 3px;
  }

.ltrsdiv {
	font-weight: bold;
	font-family: Play;
	font-size: 12px;
	text-align: center;
	vertical-align: center;
	color: black;

	white-space: nowrap;
	background-color: #DEDCD9;

	border: 1px solid;
	border-collapse: collapse;
	border-color: #DEDCD9;
	border-radius: 3px;
	cursor: pointer;
	width: 35px;
	height: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	}


.ltrsdiv:hover, .ltrsdiv:focus, .ltrsdiv:active  {
    background-color: #2E2953;
	border-color: #2E2953;
	color: white;
	vertical-align: center;
	}

.man_title {
	width: 66%;
	text-align: center;
	vertical-align: center;
	font-family: Candara;
	font-size: 18px;
	font-weight: bold;
	}

:target {
    background-color: #5FCED3;
}

ul.cssul {
	overflow:hidden;
	padding: 0px;
	list-style: circle;
	list-style-position: inside;
}

li.cssli {
	float:left;
	font-weight: bold;
	color: #5FCED3;
}
li.cssli a {
	font: 12px Verdana;
	font-weight: normal;
	color: black;
}
#triple li  { width:30%; }


/*.ord_req_tr {*/
	/*width: 90%;*/
	/*border-width: 1px 1px 0px;*/
	/*border-style: solid;*/
	/*border-color: #FFF;*/
	/*height: 30px;*/
	/*background: url('/i/title-bgr.png');*/
	/*background-size: cover;*/
	/*background-repeat: repeat-x;*/
	/*padding: 0px 10px;*/
	/*color: #FFF;*/
/*}*/

/*.ord_req_td {*/
	/*text-align: center;*/
	/*vertical-align: center;*/
	/*white-space: pre-wrap;*/
	/*border: 1px solid #D6E4E3;*/
	/*font-size: 11px;*/
	/*font-family: Verdana;*/
	/*padding: 8px;*/
	/*font-weight: bold;*/
/*}*/

/*.ord_req_tr_td_left {*/
	/*border: 1px solid #C5BEB8;*/
	/*padding: 4px;*/
	/*text-align: left;*/
	/*vertical-align: center;*/
	/*white-space: pre-wrap;*/
	/*font-size: 11px;*/
	/*font-family: Verdana;*/
/*}*/

/*.ord_req_tr_td_center {*/
	/*border: 1px solid #C5BEB8;*/
	/*padding: 4px;*/
	/*text-align: center;*/
	/*vertical-align: center;*/
	/*white-space: pre-wrap;*/
	/*font-size: 11px;*/
	/*font-family: Verdana;*/
/*}*/

#ck-button {
	margin: 7px;
    background-color:#332A5E;
    border-radius:2px;
    border:1px solid #332A5E;
	width:130px;
	color:#fff;
	cursor:pointer;
}

#ck-button:hover {
    background: #286B9C;
	width:130px;
	cursor:pointer;
}

#ck-button label {
	width:130px;
	float:center;
	cursor:pointer;
}

#ck-button label span {
    text-align:left;
    padding:3px 5px 3px 30px;
    display:block;
	cursor:pointer;
}

#ck-button label input {
    position:absolute;
    top:18px;
	cursor:pointer;
}

#ck-button input:checked + span {
    color:#fff;
	background-color:  #F27329;
    border-color: #F27329;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
	text-decoration: underline;
	cursor:pointer;
}
////////////////////////////////////////////////////////////
#ck-button1 label input {
	cursor:pointer;
}

#ck-button1 input:checked + span {
    color: white;
	background-color: #F27329;
	cursor:pointer;
	padding: 4px 4px 4px 4px;
	border: 0px solid;
	border-radius: 3px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}

div.shopping_cart_list9 {
	border: 1px solid #A4998E;
	position: relative;
}

div.shopping_cart_list9 table {
	border-collapse: collapse;
	border-top: hidden !important;
	border-bottom: hidden !important;
}

div.shopping_cart_list9 td {
	border-left: 1px solid #C5BEB8;
	border-right: 1px solid #C5BEB8;
	border-top: 1px solid #C5BEB8;
	border-bottom: 1px solid #C5BEB8;
	padding: 0px 4px 0px 4px;
	background-color: white;
}

div.shopping_cart_list9 tr.heading td {
	background: #94867B url("/i/shopping/product-list-heading.png") repeat-x top;
	border-right: 1px solid #C5BEB8;
	border-left: 1px solid #C5BEB8;
	border-bottom: hidden;
	border-top: hidden;
	height: 30px;
	text-align: center;
	color: white;
	font: bold 10px Verdana;
}

div.shopping_cart_list9 td.first_col {
	border-left: hidden !important;
}

div.shopping_cart_list9 td.last_col {
	border-right: hidden !important;
}

.href {
	font-family: Play, sans-serif;
	font-size: 15px;
	width: 50%;
	}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
	width: 60%;
	margin-bottom: 10px;
}

table.details {
	width: 60%;
	border: 0px solid black;
}


table.details td.cc1_link a {
	font: bold 11px Verdana;
	color: #A4998E;
}

table.details td.cc2_link a {
	font: 11px Verdana;
	color: #333333;
}

table.details .product_count {
	font: bold 11px Verdana;
	color: #36B9C6;
}

table.details td.col_left {
	border-right: 1px solid #CDC7C1;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ---- BOM ----*/
.main_content_containerBOM .heading div.back {
	float: right;
}

.main_content_containerBOM .heading div.back a {
	font: 17px Verdana, sans-serif;
	line-height: 34px;
	color: white;
}


.main_content_containerBOM .content {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: white;
	background-color: white;
	padding: 20px;
}

.main_content_containerBOM .heading {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: white;
	border-bottom: 1px solid white;
	height: 33px;
	background: url("/i/big-collapse-bg.png") repeat-x;
	padding: 0px 10px;
	font: 17px Verdana, sans-serif;
	color: white;
	line-height: 34px;
}

/*::-webkit-input-placeholder {*/
	/*color: #8c7e72 ;*/
	/*font: 15px Verdana, sans-serif;*/
	/*}*/

/*::-moz-placeholder {*/
	/*color: #8c7e72 ;*/
	/*font: 15px Verdana, sans-serif;*/
	/*} !* firefox 19+ *!*/

/*:-ms-input-placeholder {*/
	/*color: #8c7e72 ;*/
	/*font: 15px Verdana, sans-serif;*/
	/*} !* ie *!*/

/*input:-moz-placeholder {*/
	/*color: #8c7e72 ;*/
	/*font: 15px Verdana, sans-serif;*/
	/*}*/

.linkBOMtitle:link {
    color: #FFF;
	text-decoration: underline;
	font: 17px Verdana, sans-serif;
}

.linkBOMtitle:visited {
    color: #FFF;
	font: 17px Verdana, sans-serif;
}

.linkBOMtitle:hover {
    color: #FFF;
	text-decoration: none;
	font: 17px Verdana, sans-serif;
}

.linkBOMtitle:active {
    color: #FFF;
	text-decoration: underline;
	font: 17px Verdana, sans-serif;
}

.filename {
	color: #FFF;
	font: 17px Verdana, sans-serif;
	padding: 20px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #363533;
	font: 17px Verdana, sans-serif;
	vertical-align: middle;
	border: 0px solid #3EACAC;
	background: white;
	float:left;
}

.textarea {
	border: 1px solid #3EACAC;
	width: 50%;
	border-width: 1px 1px 1px 1px;
	background-image: url('/i/buttons/bom/pasteBOMtxt.png');
	background-repeat: no-repeat;
	background-size: 270px 270px;
	background-position: 5% 80%
}

.textarea:focus {
	border: 1px solid #3EACAC;
	width: 50%;
	display: block;
	position: relative;
	border-width: 1px 1px 1px 1px;
	background: none;
}

.homeBOM {
	overflow:hidden;
	list-style: circle;
	list-style-position: inside;
	float:left;
	font-weight: bold;
	color: #39bbbf;
	font: 13px Verdana;
	font-weight: normal;
	color: 39bbbf;
	padding: 0px 20px 0px 20px;
}

.homeBOMlink:link {
	font: 15px Verdana, sans-serif;
	font-weight: none;
	padding: 0px 0px 15px 0px;
}

.homeBOMlink:hoover {
	text-decoration: underline;
	font: 15px Verdana, sans-serif;
	font-weight: none;
	padding: 0px 0px 15px 0px;
}

.homeBOMlink:active {
	font: 15px Verdana, sans-serif;
	font-weight: none;
	padding: 0px 0px 15px 0px;
}

/* -----------------------------------------	BOM BUTTONS	-------------------------------------------------------------*/
/*>>>>>>>>>>>>>>> CERATE */
.createBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/createBOM.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   padding: 10px 40px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.createBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/createBOMhoover.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.createBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }

/*>>>>>>>>>>>>>>> UPLOAD */

.uploadBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/uploadBOM.png");
   background-size: 25px 25px;
   background-repeat: no-repeat;
   background-position: 7px 8px;
   padding: 10px 40px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.uploadBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/uploadBOMhoover.png");
   background-size: 25px 25px;
   background-repeat: no-repeat;
   background-position: 7px 8px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.uploadBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }

   /*>>>>>>>>>>>>>>> .XLS */

.xlsBOMbtn {
   position:relative;
   background-image: url("/i/buttons/bom/xlsBOM.png");
   background-size: 60px 60px;
   background-repeat: no-repeat;
   width: 100px;
   height: 70px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   cursor: pointer;
   background-position: 18px 5px;
   float:left;
   text-decoration:none;
   }
.xlsBOMbtn:hover {
   background: #3EACAC;
   background-image: url("/i/buttons/bom/xlsBOMhoover.png");
   background-size: 60px 60px;
   background-repeat: no-repeat;
   cursor: pointer;
   background-position: 18px 5px;
   float:left;
   text-decoration:none;
   }
.xlsBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   float:left;
   text-decoration:none;
   }
.xlsBOMbtn input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
	width: 100px;
	height: 70px;
    opacity:0;
	cursor: pointer;
	float:left;
	text-decoration:none;
}

   /*>>>>>>>>>>>>>>> .TXT */
.txtBOMbtn {
   position:relative;
   background-image: url("/i/buttons/bom/txtBOM.png");
   background-size: 60px 60px;
   background-repeat: no-repeat;
   width: 100px;
   height: 70px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   cursor: pointer;
   background-position: 18px 5px;
   float:left;
   text-decoration:none;
   }
.txtBOMbtn:hover {
   background: #3EACAC;
   background-image: url("/i/buttons/bom/txtBOMhoover.png");
   background-size: 60px 60px;
   background-repeat: no-repeat;
   cursor: pointer;
   background-position: 18px 5px;
   float:left;
   text-decoration:none;
   }
.txtBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   float:left;
   text-decoration:none;
   }
.txtBOMbtn input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
	width: 100px;;
	height: 70px;
    opacity:0;
	cursor: pointer;
	float:left;
	text-decoration:none;
}

   /*>>>>>>>>>>>>>>> .CSV */

.csvBOMbtn {
   position:relative;
   background-image: url("/i/buttons/bom/csvBOM.png");
   background-size: 60px 60px;
   background-repeat: no-repeat;
   width: 100px;
   height: 70px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   cursor: pointer;
   background-position: 18px 5px;
   float:left;
   text-decoration:none;
   }
.csvBOMbtn:hover {
   background: #3EACAC;
   background-image: url("/i/buttons/bom/csvBOMhoover.png");
   background-size: 60px 60px;
   background-repeat: no-repeat;
   cursor: pointer;
   background-position: 18px 5px;
   float:left;
   text-decoration:none;
   }
.csvBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   float:left;
   text-decoration:none;
   }
.csvBOMbtn input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
	width: 100px;
	height: 70px;
    opacity:0;
	cursor: pointer;
	float:left;
	text-decoration:none;
}

/*>>>>>>>>>>>>>>> DOWNLOAD */

.downloadBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/downloadBOM.png");
   background-size: 20px 30px;
   background-repeat: no-repeat;
   background-position: 10px 4px;
   padding: 10px 40px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.downloadBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/downloadBOMhoover.png");
   background-size: 20px 30px;
   background-repeat: no-repeat;
   background-position: 10px 4px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.downloadBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }

/*>>>>>>>>>>>>>>> ADD */

.addBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/addToBom.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 7px 8px;
   padding: 10px 50px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.addBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/addToBOMhoover.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 7px 8px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.addBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }

/*>>>>>>>>>>>>>>> CANCEL */
.cancelBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/cancelBOM.png");
   background-size: 30px 20px;
   background-repeat: no-repeat;
   background-position: 7px 11px;
   padding: 10px 50px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.cancelBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/cancelBOMhoover.png");
   background-size: 30px 20px;
   background-repeat: no-repeat;
   background-position: 7px 11px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.cancelBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }
/*>>>>>>>>>>>>>>> CERATE */
.changeBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/refreshBOM.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   padding: 10px 50px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.changeBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/refreshBOMhoover.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.changeBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }

/*>>>>>>>>>>>>>>> ADD TO CART */
.addToCartBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/addToCartBOM.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   padding: 10px 50px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.addToCartBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/addToCartBOMhoover.png");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   color: white;
   text-decoration:none;
   cursor: pointer;
   }
.addToCartBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }

/*>>>>>>>>>>>>>>> PASTE TXT */

.pasteBOMbtn {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/buttons/bom/pasteBOM.png");
   background-size: 25px 25px;
   background-repeat: no-repeat;
   background-position: 7px 8px;
   padding: 10px 40px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font-size: 17px;
   font: 17px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.pasteBOMbtn:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/buttons/bom/pasteBOMhoover.png");
   background-size: 25px 25px;
   background-repeat: no-repeat;
   background-position: 7px 8px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.pasteBOMbtn:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
}
.couponcode:hover .coupontooltip {
    display: block;
}

.coupontooltip {
	display: none;
 	margin:8px;
	padding:8px;
	color: black;
	text-shadow: none;
	border:1px solid grey;
	background-color:white;
	position: absolute;
	z-index: 2;
	/*font: bold 11px Play;*/
}
.download {
   border: 1px solid #3EACAC;
   background: white;
   background-image: url("/i/download.png");
   background-size: 15px 22px;
   background-repeat: no-repeat;
   background-position: 5px 4px;
   padding: 6px 2px 7px 22px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #363533;
   font: 11px Verdana, sans-serif;
   vertical-align: middle;
   text-decoration:none;
   }
.download:hover {
   border-top-color: #3EACAC;
   background: #3EACAC;
   background-image: url("/i/downloadH.png");
   background-size: 15px 22px;
   background-repeat: no-repeat;
   background-position:  5px 4px;
   color: white;
   cursor: pointer;
   text-decoration:none;
   }
.download:active {
   border-top-color: #3EACAC;
   background: #3EACAC;
   text-decoration:none;
   }