@charset "utf-8";
/* CSS Document 
   Author: Veselin Trifonov as developer @ www.stenikgroup.com
*/

body {
	float: left;
	width:100%;
	min-width: 1004px;
	height:auto;
	direction:ltr;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	margin:0px;
	padding:0px;
	color:#003300;
	font-weight:normal;
	background:#003300;
	/*overflow-x: hidden;*/
}
/* G+ button scroll fix */
iframe[id^="oauth2relay"] { position: fixed !important; }


/* Stenik default style helpers */
ol { padding:0; margin:5px 0 10px 20px; }
ol li { padding:0; margin:0;  }
ul { margin: 0; padding: 0; }
ul li {	list-style: none; padding:0; margin:0; }
p {	padding:0; margin:0; }
iframe { border-width: 0px; }
a {	outline:none; }
a img { border:0; }
.clear { clear:both; }
.clearH { clear:both; height:10px; }
.clearH2 { clear:both; height:20px; }
.clearH3 { clear:both; height:30px; }
.clearH4 { clear:both; height:40px; }
.radiusL { border-radius: 0px 0px 0px 5px; }
.radiusR { border-radius: 0px 0px 5px 0px; }
.decNone {	text-decoration:none; }
.noBgr { background:none!important; }
.left {	float:left; }
.right { float:right; }
.noBorder { border: none!important; }
.noBorderB { border-bottom:none !important; }
.noBorderT { border-top:none !important; }
.noBorderL { border-left:none !important; }
.noBorderR { border-right:none !important; }
.noMarginR {margin-right:0 !important; }
.noMarginL {margin-left:0 !important; }
.noMarginB { margin-bottom:0 !important; }
.noMarginT { margin-top:0 !important; }
.noMargin { margin:0 !important; }
.noPaddingL { padding-left:0 !important; }
.noPaddingR { padding-left:0 !important; }
.noPaddingB { padding-bottom:0 !important; }
.noPaddingT { padding-top:0 !important; }
.noOverflow { overflow:hidden; }
.noOverflowX { overflow-x:hidden; }
/* End of Stenik default style helpers */





/*START SITE*/


.wrapper { 
	width: 1002px;
	height: auto;
	margin: 0 auto;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}

header {
	float: left;
	width: 100%;
	height: 100px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	background: url(../../images/frontend/headerBG.jpg) no-repeat center top;
	position: relative;
	z-index: 200;
}
header .logo {
	float: left;
	width: 320px;
	height: 56px;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}
header .headerRight {
	float: right;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
}
header nav.headerTopNav {
	float: right;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 16px 0px 0px 0px;
}
header nav.headerTopNav ul {
	float: left;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
}
header nav.headerTopNav ul li {
	float: left;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
}
header nav.headerTopNav ul li a {
	float: left;
	width: auto;
	height: 16px;
	line-height: 16px;
	padding: 0px 13px 0px 0px;
	margin: 0px 11px 0px 0px;
	font-size: 13px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	background: url(../../images/frontend/headerTopNavLine.jpg) no-repeat right 5px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
header nav.headerTopNav ul li a:hover { color: #a6c89c; }
header nav.headerTopNav ul li.selectedTop a { color: #a6c89c !important; text-decoration: underline !important; }
header nav.headerTopNav ul li.last a { background: none; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }


header nav.mainNav {
	float: right;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 22px 0px 0px 0px;
}
header nav.mainNav ul {
	float: left;
	width: auto;
	height: 46px;
	padding: 0px;
	margin: 0px;
	position: relative;
}
header nav.mainNav ul li {
	float: left;
	width: auto;
	height: 46px;
	padding: 0px;
	margin: 0px;
}
header nav.mainNav ul li a {
	float: left;
	width: auto;
	height: 26px;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 0px 22px;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
header nav.mainNav ul li a span.solid {
	float: left;
	width: auto;
	height: 24px;
	line-height: 24px;
	padding: 0px;
	margin: 0px;
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	z-index: 10;
	-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;
	text-shadow: 0px 0px 0px #003300;
}
header nav.mainNav ul li a.selected span.solid { color: #b8d2a5 !important; }

header nav.mainNav ul li:hover a span.solid {
	text-shadow: 0px 0px 18px #fff;
	color: #fff;

	/* Otpadnal efekt na majdukane 
    animation-name: pulsate;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    */
}

@keyframes pulsate { 
	20% { text-shadow: 0px -8px 20px #fff; } 
	40% { text-shadow: 0px -8px 20px #fff; } 
	60% { text-shadow: 0px -8px 20px #fff; } 
	80% { text-shadow: 0px -8px 20px #fff; } 
	100% { text-shadow: 0px -8px 20px #fff; } 
}
@-webkit-keyframes pulsate { 
	20% { text-shadow: 0px -8px 20px #fff; } 
	40% { text-shadow: 0px -8px 20px #fff; } 
	60% { text-shadow: 0px -8px 20px #fff; } 
	80% { text-shadow: 0px -8px 20px #fff; } 
	100% { text-shadow: 0px -8px 20px #fff; }
}

header nav.mainNav ul li a span.effect {
    width: auto;
    height: 24px;
    line-height: 24px;
	padding: 0px;
	margin: 0px;
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    text-shadow: 0px 0px 15px #fff;
    opacity: 0;
    -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
header nav.mainNav ul li:hover a span.effect { opacity: 1; }


header nav.mainNav ul li a .bottomLine {
	width: 100%;
	height: 10px;
	padding: 0px;
	margin: 0px;
	background: #5a8050;
	overflow: hidden;
	border-radius: 2px 2px 0px 0px;
	position: absolute;
	left: 0px;
	bottom: 1px;
	z-index: 13;
	opacity: 0; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0);
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
header nav.mainNav ul li a.selected .bottomLine { opacity: 1!important; -ms-filter:alpha(opacity=100)!important; filter:alpha(opacity=100)!important; background: #b8d2a5!important; bottom: 0px; }
header nav.mainNav ul li.hasSub:hover a .bottomLine { opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100); }

header nav.mainNav ul li .mainNavSub {
	float: left;
	width: 980px;
	height: auto;
	padding: 14px 0px 6px 20px;
	margin: 0px;
	border: 1px solid #2e5224;
	position: absolute;
	left: -427px;
	top: 45px;
	z-index: 10;
	overflow: hidden;
	border-radius: 0px 0px 2px 2px;
	box-shadow: 0px 1px 2px #446c3d;
	display: none;
	background: #355f2a url(../../images/frontend/mainNavSubBG.png) repeat-x left top;
}

header nav.mainNav ul li .mainNavSub .subNavCatBox {
	float: left;
	width: 143px;
	height: 110px;
	padding: 0px;
	margin: 0px 20px 6px 0px;
	position: relative;
	text-decoration: none;
}
header nav.mainNav ul li .mainNavSub .subNavCatBox img {
	float: left;
	width: 143px;
	height: 72px;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	overflow: hidden;
	position: relative;
	z-index: 20;
	border-radius: 2px;
}
header nav.mainNav ul li .mainNavSub .subNavCatBox .subNavCatTitle {
	float: left;
	width: 135px;
	height: 32px;
	padding: 0px 4px 0px 4px;
	margin: 0px;
	overflow: hidden;
	font-size: 14px;
	line-height: 15px;
	color: #fff;
	font-weight: bold;
	/* text-align: center; */
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
header nav.mainNav ul li .mainNavSub .subNavCatBox:hover .subNavCatTitle { color: #b9d2a5; }

header nav.mainNav ul li .mainNavSub .subNavCatBox .newLabel {
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	background: #335c33;
	border-radius: 2px 0px 0px 2px;
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 25;
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
header nav.mainNav ul li .mainNavSub .subNavCatBox .hoverOverlay {
	float: left;
	width: 143px;
	height: 72px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 35;
	overflow: hidden;
	opacity: 0; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0);
	border-radius: 2px;
	background: url(../../images/frontend/hoverOverlay.png);
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
header nav.mainNav ul li .mainNavSub .subNavCatBox:hover .hoverOverlay { opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100); }





section.indexSliderContent {
	float: left;
	width: 100%;
	height: 275px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: url(../../images/frontend/indexSliderContentBG.jpg) no-repeat center top;
	position: relative;
	z-index: 180;
}
section.indexSliderContent .leftIndexCol {
	float: left;
	width: 717px;
	height: auto;
	padding: 0px;
	margin: 0px;
}
section.indexSliderContent .indexSmallBannerLeft {
	float: left;
	width: 348px;
	height: 70px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.indexSliderContent .indexSmallBannerLeft img {
	float: left;
	width: 348px;
	height: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 2px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.indexSliderContent .indexSmallBannerLeft img:hover { opacity: 0.8; }

section.indexSliderContent .indexSmallBannerRight {
	float: right;
	width: 348px;
	height: 70px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
section.indexSliderContent .indexSmallBannerRight img {
	float: left;
	width: 348px;
	height: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 2px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.indexSliderContent .indexSmallBannerRight img:hover { opacity: 0.8; }


section.indexSliderContent .indexSmallBanner {
	float: left;
	width: 348px;
	height: 70px;
	padding: 0px;
	margin: 20px 21px 0px 0px;
	overflow: hidden;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.indexSliderContent .indexSmallBanner img {
	float: left;
	width: 348px;
	height: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 2px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.indexSliderContent .indexSmallBanner img:hover { opacity: 0.8; }



section.indexSliderContent .rightIndexCol {
	float: right;
	width: 273px;
	height: auto;
	padding: 20px 0px 0px 0px;
	margin: 0px;
}
section.indexSliderContent h1 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	font-size: 16px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
section.indexSliderContent .indexDescriptionText {
	float: left;
	width: 260px;
	height: auto;
	max-height: 163px;
	padding: 0px 13px 0px 0px;
	margin: 0px 0px 10px 0px;
	outline: none;
}
section.indexSliderContent .indexDescriptionText .jspContainer { outline: none; }

section.indexSliderContent .indexDescriptionText p {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 6px 0px;
	font-size: 13px;
	line-height: 16px;
	color: #003300;
	font-weight: normal;
	text-decoration: none;
}
section.indexSliderContent .indexDescriptionText img {
	width: 100% !important;
	margin: 2px 0px 2px 0px;
}
section.indexSliderContent .seeMore {
	float: left;
	width: auto;
	height: 13px;
	line-height: 13px;
	padding: 0px 8px 0px 0px;
	margin: 0px;
	font-size: 13px;
	color: #003300;
	font-weight: normal;
	text-decoration: underline;
	background: url(../../images/frontend/seeMoreArrow.png) no-repeat right 4px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.indexSliderContent .seeMore:hover { color: #b9d2a5; padding-right: 10px; }




#main.hasLeftCol .mainContent { width:782px; float:right; }
#main.hasRightCol .mainContent { width:712px; float:left; }
#main.hasLeftRightCol .mainContent { width:491px; float:left; }

#main {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: #b9d2a5;
}
#main .mainContent {
	float: left;
    width: 100%;
    height: auto;
	min-height: 150px;
    padding: 0px 0px 0px 0px;
	margin: 25px 0px 0px 0px;
}
#main.projectsFix .mainContent { min-height: 0px; }

#main .mainContent h1 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	font-size: 24px;
	line-height: 27px;
	color: #003300;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	clear: both;
}
#main .mainContent h1.hasVatText { width: 610px; }

#main .mainContent .vatText {
	float: right;
	width: 170px;
	height: auto;
	padding: 0px;
	margin: 4px 0px 0px 0px;
	text-align: right;
}

nav.breadcrumbs {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 14px 0px;
	margin: 10px 0px -10px 0px;
	border-bottom: 1px dotted #7b9e6c;
}
nav.breadcrumbs ul {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
nav.breadcrumbs ul li {
	float: left;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	line-height: 14px;
	color: #003300;
	font-weight: normal;
	text-decoration: none;
}
nav.breadcrumbs ul li a {
	float: left;
	width: auto;
	padding: 0px 11px 0px 0px;
	margin: 0px 6px 0px 0px;
	height: 14px;
	line-height: 14px;
	font-size: 11px;
	text-decoration: underline;
	font-weight: normal;
	color: #003300;
	background: url(../../images/frontend/breadcrumbsSep.png) no-repeat right 2px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; 
}
nav.breadcrumbs ul li a:hover { color: #598050; text-decoration: underline; }


section.productsSliderContent {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 25px 0px;
}
section.productsSliderContent h2 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 12px 0px;
	border-bottom: 1px dotted #7b9e6c;
	font-size: 15px;
	line-height: 17px;
	color: #003300;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
section.productsSliderContent .indexProductsSlider {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
section.productsSliderContent .indexProductsSlider.hasOneSlide .tc-paging-container { display: none !important; }


.productBox {
	float: left;
	width: 126px;
	height: auto;
	padding: 0px;
	margin: 12px 20px 15px 0px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productBox:hover { padding: 0px 0px 2px 0px; }

.productBox .productBoxIMG {
	float: left;
	width: 126px;
	height: 95px;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	text-decoration: none;
	background: #fff;
	box-shadow: 0px 1px 2px #84a174;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productBox:hover .productBoxIMG { box-shadow: 0px 1px 5px 1px #668958; }

.productBox .productBoxIMG img {
	float: left;
	width: 126px;
	height: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	border-radius: 2px;
	opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100);
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productBox:hover .productBoxIMG img { opacity: 0.3; -ms-filter:alpha(opacity=30); filter:alpha(opacity=30); }

.productBox .productBoxIMG .newLabel {
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	background: #335c33;
	border-radius: 2px 0px 0px 2px;
	position: absolute;
	right: 0px;
	top: 6px;
	z-index: 25;
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100);
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productBox:hover .productBoxIMG .newLabel { opacity: 0.3; -ms-filter:alpha(opacity=30); filter:alpha(opacity=30); }

.productBox .productBoxIMG .promoLabel {
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	background: #f79e56;
	border-radius: 2px 0px 0px 2px;
	position: absolute;
	right: 0px;
	top: 6px;
	z-index: 25;
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100);
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}

.subNavCatBox .promoLabel {
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	background: #f79e56;
	border-radius: 2px 0px 0px 2px;
	position: absolute;
	right: 0px;
	top: 6px;
	z-index: 25;
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100);
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productBox:hover .productBoxIMG .promoLabel { opacity: 0.3; -ms-filter:alpha(opacity=30); filter:alpha(opacity=30); }



.productBox .productTitle {
	float: left;
	width: 126px;
	height: 29px;
	overflow: hidden;
	padding: 0px;
	margin: 0px 0px 3px 0px;
	font-size: 13px;
	line-height: 14px;
	color: #003300;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productBox:hover .productTitle { color: #3a6e3a; margin: -2px 0px 3px 0px; }

.productBox .price {
	float: left;
	width: 126px;
	height: auto;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	line-height: 18px;
	color: #111;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.productBox .price span.currency { font-size: 14px; }

.productBox .oldPrice {
	float: left;
	width: 126px;
	height: auto;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 16px;
	color: #003300;
	font-weight: normal;
	text-align: center;
	text-decoration: line-through;
}
.productBox .oldPrice span.currency { font-size: 14px; }

.productBox .detailedBtn {
	float: left;
	width: 62px;
	height: 25px;
	line-height: 25px;
	padding: 0px 0px 0px 28px;
	margin: 0px;
	overflow: hidden;
	border-radius: 3px;
	background: #335c33 url(../../images/frontend/detailedBtnIcon.png) no-repeat 7px 8px;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	position: absolute;
	left: 21px;
	bottom: 26px;
	z-index: 25;
	opacity: 0; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0);
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
	-webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear;
	-webkit-transition: bottom 0.2s linear; -moz-transition: bottom 0.2s linear; -o-transition: bottom 0.2s linear; transition: bottom 0.2s linear;
}
.productBox:hover .detailedBtn { opacity: 1; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100); bottom: 34px; }
.productBox .detailedBtn:hover { background: #487548 url(../../images/frontend/detailedBtnIcon.png) no-repeat 7px 8px; }
.productBox .detailedBtn:active { box-shadow: 0px 1px 0px 0px #003300; margin: 2px 0px -2px 0px !important; }


section.indexBrandsContent {
	float: left;
	width: 100%;
	height: 129px;
	padding: 0px 0px 0px 0px;
	margin: 40px 0px -10px 0px;
	background: url(../../images/frontend/indexBrandsContent.jpg) no-repeat center top;
	position: relative;
	z-index: 180;
}
section.indexBrandsContent h3 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin: 21px 0px 15px 0px;
	font-size: 17px;
	line-height: 19px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 1px 1px #678556;
	text-decoration: none;
}
section.indexBrandsContent h3 a {
	float: right;
	width: auto;
	height: 19px;
	line-height: 19px;
	padding: 0px 8px 0px 0px;
	margin: 0px;
	font-size: 13px;
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
	background: url(../../images/frontend/indexBrandsLinkArrow.png) no-repeat right 7px;
}
section.indexBrandsContent h3 a:hover { color: #134410; }

section.indexBrandsContent .brandBox {
	float: left;
	width: 108px;
	height: 54px;
	padding: 0px;
	margin: 0px 19px 0px 0px;
	border-radius: 3px;
	position: relative;
}
section.indexBrandsContent .brandBox img {
	float: left;
	width: 108px;
	height: 54px;
	padding: 0px;
	margin: 0px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	z-index: 5;
}
section.indexBrandsContent .brandBox span {
	float: left;
	width: 96px;
	height: 39px;
	padding: 13px 5px 0px 5px;
	margin: 0px 20px 0px 0px;
	border: 1px solid #b9d2a5;
	background: #83a472;
	overflow: hidden;
	border-radius: 3px;
	font-size: 12px;
	line-height: 14px;
	text-shadow: 0px 1px 1px #5c754e;
	box-shadow: 0px 0px 3px 0px #b9d2a5;
	color: #fff;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;
	-webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s;
	-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden;
	-ms-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);
}
section.indexBrandsContent .brandBox:hover span { 
	-webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden; -ms-backface-visibility: hidden;
	-ms-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 100; -khtml-opacity: 100; opacity: 100;
}
#main .mainContent .indexTextTitle {
	float: left;
	width: 1002px;
	height: auto;
	padding: 0px 0px 10px 0px;
	margin: 20px 0px 14px 0px;
	border-bottom: 1px dotted #7b9e6c;
	font-size: 17px;
	line-height: 19px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}


section.textPage {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 30px 0px;
}
section.textPage.indexPage { width: 1002px; }
.newsDetailedInfo section.textPage { margin: 0px 0px 14px 0px; }
.popUpTextContent section.textPage { margin: 0px 0px 0px 0px; padding: 5px 0px 0px 0px; }

section.textPage p {
	padding: 0px;
	margin: 0px 0px 6px 0px;
	font-size: 13px;
	line-height: 16px;
	color: #003300;
	font-weight: normal;
	text-decoration: none;
}
.popUpTextContent section.textPage p { color: #fff }

section.textPage p a {
	color: rgba(229, 252, 211, 1);
	display: inline;
	text-decoration: none;
	border-bottom: 1px solid #030;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.textPage p a:hover { border-bottom: 1px solid #b9d2a5; color: #fff; }

section.textPage p.address { padding-left: 30px; background: url(../../images/frontend/addressIcon.png) no-repeat left 2px; }
section.textPage p.workingTime { padding-left: 30px; background: url(../../images/frontend/workingTimeIcon.png) no-repeat left 2px; }
section.textPage p.phones { padding-left: 30px; background: url(../../images/frontend/phonesIcon.png) no-repeat left 2px; }
section.textPage p.email { padding-left: 30px; background: url(../../images/frontend/emailIcon.png) no-repeat left 2px; }

section.textPage.indexPage p a img {  }
.popUpTextContent section.textPage p img { border: none !important; }

section.textPage h2 {
	padding: 0px;
	margin: 10px 0px 8px 0px;
	font-size: 22px;
	line-height: 25px;
	color: #003300;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.popUpTextContent section.textPage h2 { color: #D6EFC2; margin: 10px 0px 20px 0px; }

section.textPage h3 {
	padding: 0px;
	margin: 10px 0px 7px 0px;
	font-size: 18px;
	line-height: 21px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
.popUpTextContent section.textPage h3 { color: #D6EFC2; }

section.textPage h4 {
	padding: 0px;
	margin: 10px 0px 7px 0px;
	font-size: 16px;
	line-height: 19px;
	color: #003300;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.popUpTextContent section.textPage h4 { color: #D6EFC2; }

section.textPage h5 {
	padding: 0px;
	margin: 10px 0px 5px 0px;
	font-size: 15px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
.popUpTextContent section.textPage h5 { color: #D6EFC2; }

section.textPage h6 {
	padding: 0px;
	margin: 10px 0px 5px 0px;
	font-size: 13px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
.popUpTextContent section.textPage h6 { color: #D6EFC2; }

section.textPage ul {
	padding: 0px;
	margin: 5px 0px 5px 0px;
}
section.textPage ul li {
    background: url(../../images/frontend/textPageListArrow.png) no-repeat 0px 7px;
    color: #003300;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    margin-left: 25px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-top: 3px;
    text-decoration: none;
}
section.textPage ul li a { 
	color: rgba(229, 252, 211, 1);
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #030;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.textPage ul li a:hover { border-bottom: 1px solid #b9d2a5; color: #fff; }

section.textPage ol {
    margin: 5px 0px 5px 40px;
    padding: 0px;
}
section.textPage ol li {
    color: #003300;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-top: 3px;
    text-decoration: none;
}
section.textPage ol li a { 
	color: rgba(229, 252, 211, 1);
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #030;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.textPage ol li a:hover { border-bottom: 1px solid #b9d2a5; color: #fff; }

section.textPage blockquote {
	background: #d6efc2 url(../../images/frontend/blockquote.png) no-repeat 10px 0px;
    display: block;
    font-style: italic;
    line-height: 16px;
    margin: 0px 0px 10px 0px;
    padding: 6px 15px 6px 78px;
}
section.textPage p code {
	background: #d6efc2;
	padding: 10px 15px 10px 30px;
	display: block;
	text-align: left;
}

section.textPage table {
	padding: 0px;
	margin: 10px 0px 10px 0px;
	border-radius: 3px;
	border-spacing: 0px;
    border-collapse: separate;
    border-bottom: none;
    border-left: 1px solid #003300;
    border-top: 1px solid #003300;
    border-right: 1px solid #003300;
}
section.textPage table caption { background: #cadfb9; }
section.textPage table caption h6 { margin: 4px 0px 4px 0px; }

section.textPage table th {
	padding: 10px 0px 10px 0px;
	margin: 0px;
	background: #7d9f70;
	border-right: 1px solid #b9d2a5;
	border-bottom: 1px solid #a1bf91;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 1px #5b7551;
}
section.textPage table td {
	padding: 8px 0px 8px 0px;
	margin: 0px;
	border-right: 1px solid #b9d2a5;
	border-bottom: 1px solid #003300;
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
	color: #003300;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	background: #d6efc2;
}
section.textPage table tr:nth-child(2n+1) td { background: #c1ddaa; }

section.textPage table td a {
	font-size: 12px;
	line-height: 14px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.textPage table td a:hover { color: #5f8442; }

section.textPage .toHomePageBtn {
	display: inline-block;
	width: 233px;
	height: 37px;
	line-height: 37px;
	padding: 0px;
	margin: -2px 0px 0px 0px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	border: none !important;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
section.textPage .toHomePageBtn:hover { background: #487548; box-shadow: 0px 3px 0px 0px #003300; }
section.textPage .toHomePageBtn:active { background: #335c33; box-shadow: 0px 1px 0px 0px #003300; margin: 0px 0px -2px 0px; }

section.textPage p a.styleBtn {
	display: inline-block;
	width: auto;
	height: 27px;
	line-height: 27px;
	padding: 0px 14px 0px 14px;
	margin: 15px 0px 0px 10px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
section.textPage p a.styleBtn:hover { background: #487548; text-decoration: none; border-bottom: none; padding: 0px 14px 1px 14px; }
section.textPage p a.styleBtn:active { background: #487548; box-shadow: 0px 1px 0px 0px #003300; margin: 17px 0px -2px 10px; }





#cboxLoadedContent img { border: 6px solid #b7d4a8; }

.carDescriptionBox {
	float: left;
	width: 962px;
	height: auto;
	padding: 18px 20px 20px 20px;
	margin: 0px 0px 30px 0px;
	background: #d6efc2;
	border-top: 1px solid #c5deb1;
	border-bottom: 1px solid #c5deb1;
	border-radius: 3px;
	position: relative;
}
.carDescriptionBox section.textPage { /* height: 82px; */ overflow: hidden; margin: 0px; }
.carDescriptionBox.brandDescription section.textPage { width: 800px; float: right; }
.hasLeftCol .carDescriptionBox { width: 742px; }

.carDescriptionBox .readMoreBtn {
	float: left;
	width: auto;
	height: 27px;
	line-height: 27px;
	padding: 0px 12px 0px 12px;
	margin: 0px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	position: absolute;
	right: 10px;
	bottom: -12px;
	z-index: 20;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
.carDescriptionBox .readMoreBtn:hover { background: #487548; }
.carDescriptionBox .readMoreBtn:active { background: #487548; box-shadow: 0px 1px 0px 0px #003300; bottom: -14px; }

.carDescriptionBox .brandIMG {
	float: left;
	width: 151px;
	height: auto;
	padding: 0px;
	margin: 0px;
}
.carDescriptionBox .brandIMG img {
	float: left;
	width: 151px;
	height: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 3px;
}


section.catListing {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
section.catListingSub {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

.catListingBox {
	float: left;
	width: 237px;
	height: auto;
	padding: 0px;
	margin: 0px 18px 18px 0px;
	text-decoration: none;
}
section.catListingSub .catListingBox { width: 322px; }

.catListingBox .catListingIMG {
	float: left;
	width: 235px;
	height: 118px;
	padding: 0px;
	margin: 0px;
	border-left: 1px solid #a2bf91;
	border-right: 1px solid #a2bf91;
	box-shadow: 0px 1px 1px #aac99b;
	background: #b9d2a5;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	z-index: 10;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.catListingBox:hover .catListingIMG { box-shadow: 0px 0px 2px 2px #9cbb8d; }

section.catListingSub .catListingBox .catListingIMG { width: 321px; height: 161px; }

.catListingBox .catListingIMG img {
	float: left;
	width: 235px;
	height: 118px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.catListingBox:hover .catListingIMG img { opacity: 0.8; }

section.catListingSub .catListingBox .catListingIMG img { width: 322px; height: 161px; }

.catListingBox .catListingTitle {
	float: left;
	width: 215px;
	height: auto;
	padding: 18px 10px 10px 10px;
	margin: -7px 0px 0px 0px;
	background: #d3ecbf;
	border-left: 1px solid #abc79a;
	border-right: 1px solid #abc79a;
	overflow: hidden;
	border-radius: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	z-index: 6;
	box-shadow: 0px 1px 1px #96b486;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.catListingBox:hover .catListingTitle { background: #003300; color: #fff; margin: -9px 0px 2px 0px; }

section.catListingSub .catListingBox .catListingTitle { width: 302px; }

.popUpTextContent {
	float: left;
	width: 715px;
	height: auto;
	padding: 0px;
	margin: 0px 75px 0px 75px;
}

section.productListing {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 10px 0px 20px 0px;
}

.productListingBox {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 30px 0px;
}
.productListingBox .newLabel {
	float: left;
	width: auto;
	height: 22px;
	line-height: 22px;
	background: #255321;
	overflow: hidden;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: 0px 10px 1px 10px;
	margin: 0px 9px 0px 0px;
}
.productListingBox .promoLabel {
	float: left;
	width: auto;
	height: 22px;
	line-height: 22px;
	background: #f5943f;
	overflow: hidden;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: 0px 10px 1px 10px;
	margin: 0px 9px 0px 0px;
}
.productListingBox .productListingBoxTitle {
	float: left;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 12px 0px 0px 0px;
	font-size: 20px;
	line-height: 22px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productListingBox .productListingBoxTitle:hover { color: #678a5a; }

.productListingBox .productBrand {
	float: right;
	width: 87px;
	height: 43px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 3px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.productListingBox .productBrand:hover { box-shadow: 0px 0px 3px 1px #fff; }

.productListingBox .productBrand img {
	float: left;
	width: 87px;
	height: 43px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-radius: 3px;
}
table.productListingTable {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 9px 0px 0px 0px;
	border-radius: 3px;
	border-spacing: 0px;
    border-collapse: separate;
    border: none;
}
.productDetailedInfo.tableCenter table.productListingTable { width: 782px; margin: 0px 0px 0px 0px; } 

table.productListingTable th {
	padding: 10px 0px 10px 0px;
	margin: 0px;
	background: #7d9f70;
	border-right: 1px solid #b9d2a5;
	border-bottom: 1px solid #a1bf91;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 1px #5b7551;
}
table.productListingTable th.first { overflow: hidden; border-radius: 3px 0px 0px 0px; text-align: left; padding-left: 11px; }
table.productListingTable th.last {	overflow: hidden; border-radius: 0px 3px 0px 0px; }

table.productListingTable td {
	/* padding: 3px 0px 3px 0px; */
	padding: 0px 0px 0px 0px;
	margin: 0px;
	border-right: 1px solid #b9d2a5;
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
	color: #003300;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	background: #d6efc2;
}
table.productListingTable td.alignLeft { text-align: left; padding-left: 11px; }
table.productListingTable td.first { border-radius: 0px 0px 3px 0px; text-align: left; padding-left: 11px; font-weight: bold; }
table.productListingTable td.last {	border-radius: 0px 0px 0px 3px; }
table.productListingTable tr:nth-child(2n+1) td { background: #c1ddaa; }
table.productListingTable td img { padding: 0px; margin: 0px; border: 1px solid #c1ddaa; }

table.productListingTable td a {
	font-size: 12px;
	line-height: 14px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
table.productListingTable td a:hover { color: #5f8442; }

table.productListingTable td .temp {
	display: block;
	width: 48px;
	min-height: 43px;
	padding: 6px 0px 6px 0px;
	margin: -6px 0px -6px 0px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 14px;
	color: #003300;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}
table.productListingTable td .temp.color1 { background: #fffeb0; }
table.productListingTable td .temp.color2 { background: #fff2dc; }
table.productListingTable td .temp.color3 { background: #fff; }

table.productListingTable td .phone {
	float: left;
	width: 35px;
	height: 35px;
	padding: 0px;
	margin: 0px 0px 0px 13px;
	cursor: pointer;
	position: relative;
	background: url(../../images/frontend/tablePhoneIcon.png) no-repeat right top;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
table.productListingTable td .phone:hover { background: url(../../images/frontend/tablePhoneIcon.png) no-repeat left top; }

table.productListingTable td .phone span.tooltipText {
	display: none;
	width: 95px;
	height: 26px;
	line-height: 26px;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	position: absolute;
	left: -20px;
	top: -30px;
	z-index: 10;
	background: url(../../images/frontend/tooltipTextBG.png);
	border: 1px solid #c2deac;
	border-radius: 3px;
	font-size: 12px;
	color: #666;
	font-weight: normal;
	text-decoration: none;
}
table.productListingTable td .phone span.tooltipText .arrow {
	float: left;
	width: 8px;
	height: 5px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 25px;
	bottom: -5px;
	z-index: 12;
	background: url(../../images/frontend/tooltipTextArrow.png) no-repeat left top;
}
table.productListingTable td span.oldPrice {
	display: block;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	line-height: 14px;
	color: #719d4e;
	font-weight: normal;
	text-decoration: line-through;
}
table.productListingTable td span.price {
	display: block;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	line-height: 15px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
table.productListingTable td span.price2 {
	display: block;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	line-height: 15px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
section.productDetailedContent .vat { 
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 10px 0px 10px 0px;
	font-size: 12px;
	line-height: 14px;
	color: #003300;
	font-weight: normal;
	text-align: right;
	text-decoration: none;
}

section.productDetailedContent {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
section.productDetailedContent .productDetailedTitle {
	float: left;
	width: 654px;
	height: auto;
	padding: 0px;
	margin: 0px 0px 25px 0px;
}
#main .mainContent section.productDetailedContent .productDetailedTitle h1 { font-size: 30px; line-height: 32px; margin-bottom: 7px; }

section.productDetailedContent .productDetailedTitle .newLabel {
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	padding: 0px 7px 2px 7px;
	margin: 0px 7px 0px 0px;
	background: #335c33;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.productDetailedContent .productDetailedTitle .promoLabel {
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	padding: 0px 7px 2px 7px;
	margin: 0px 7px 0px 0px;
	background: #f79e56;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.socialShareBox {
	float: left;
	width: auto;
	height: 20px;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.productDetailedTitle .socialShareBox { margin-bottom: 0px; }

.socialShareBox .addthis_toolbox { 
	float: left;
	width: auto;
	height: 20px;
	padding: 0px;
	margin: 0px;
}
section.productDetailedContent .productDetailedBrand {
	float: right;
	width: 113px;
	height: 57px;
	padding: 0px;
	margin: 2px 0px 0px 0px;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 0px 0px 0px #fff;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.productDetailedContent .productDetailedBrand:hover { box-shadow: 0px 0px 3px 1px #fff; }

section.productDetailedContent .productDetailedBrand img {
	float: left;
	width: 113px;
	height: auto;
	padding: 0px;
	margin: 0px;
	border-radius: 2px;
	overflow: hidden;
}
section.productDetailedContent .productDetailedInfo {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
section.productDetailedContent .productDetailedInfo h2 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 12px 0px;
	margin: 0px 0px 12px 0px;
	border-bottom: 1px dotted #7b9e6c;
	font-size: 20px;
	line-height: 22px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
section.productDetailedContent .productDetailedInfo.tableCenter h2 { text-align: center; }

section.productDetailedContent .productDetailedInfo.gallerySliderStyle { width: 488px; }
section.productDetailedContent .productDetailedInfo.documentsDownloads { float: right; width: 275px; }

section.productDetailedContent .productDetailedInfo .productInfoLeftCol {
	float: left;
	width: 370px;
	height: auto;
	padding: 0px;
	margin: 0px;
}
section.productDetailedContent .productDetailedInfo section.textPage {
	float: left;
	width: 370px;
	height: auto;
	min-height: 20px;
/*	max-height: 190px;*/
	padding: 0px 0px 0px 0px;
	margin: 0px;
	overflow: hidden;
}

section.productDetailedContent .productDetailedInfo .gallerySlider {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
section.productDetailedContent .productDetailedInfo .gallerySlider.hasOneSlide .tc-paging-container { display: none !important; }

section.productDetailedContent .productDetailedInfo .gallerySlider.touchcarousel .touchcarousel-wrapper { }


section.productDetailedContent .productDetailedInfo .galleryBox {
	float: left;
	width: 149px;
	height: 149px;
	padding: 0px 0px 0px 0px;
	margin: 5px 20px 5px 0px;
	position: relative;
	border-radius: 2px;
}

section.productDetailedContent .productDetailedInfo .galleryBox img {
	float: left;
	width: 149px;
	height: 149px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	position: relative;
	z-index: 5;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 0px #033502;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.productDetailedContent .productDetailedInfo .galleryBox:hover img { box-shadow: 0px 0px 4px 1px #033502; }

section.productDetailedContent .productDetailedInfo .galleryBox span.effect {
	float: left;
	width: 149px;
	height: 149px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 20;
	opacity: 0;
    overflow:visible;
    border: 0px solid #003300;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section.productDetailedContent .productDetailedInfo .galleryBox:hover span.effect {
   opacity: 0.7;
   border: 74px solid #003300;
}
section.productDetailedContent .productDetailedInfo .galleryBox span.effect span.effectIcon {
	float: left;
	width:22px;
    height:22px;
	background:url(../../images/frontend/effectIcon.png) center no-repeat;
	text-decoration: none;
	padding: 0px;
	margin: -11px 0px 0px -11px;
	text-indent:-9999px;
	position: absolute;
	top:50%;
	left: 50%;
	opacity:0;
	z-index: 25;
   -moz-transform:scale(0,0);
   -webkit-transform:scale(0,0);
   -o-transform:scale(0,0);
   -ms-transform:scale(0,0);
   transform:scale(0,0);
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
section.productDetailedContent .productDetailedInfo .galleryBox:hover span.effect span.effectIcon {
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}

section.productDetailedContent .productDetailedInfo .downloadLink {
	float: left;
	width: 234px;
	height: auto;
	padding: 7px 10px 7px 20px;
	margin: 0px 0px 5px 10px;
	background: #d6efc2;
	box-shadow: 0px 3px 0px 0px #93b385;
	font-size: 14px;
	line-height: 16px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
	position: relative;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;	
}
section.productDetailedContent .productDetailedInfo .downloadLink:hover { background: #edf6e7; box-shadow: 0px 3px 0px 0px #023502; }
section.productDetailedContent .productDetailedInfo .downloadLink:active { background: #edf6e7; box-shadow: 0px 1px 0px 0px #023502; margin: 2px 0px 3px 10px; }

section.productDetailedContent .productDetailedInfo .downloadLink span.arrow {
	width: 19px;
	height: 21px;
	padding: 0px;
	margin: 0px;
	background: url(../../images/frontend/downloadLinkArrow.png) no-repeat left top;
	position: absolute;
	left: -9px;
	top: 7px;
	z-index: 10;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.productDetailedContent .productDetailedInfo .downloadLink:hover span.arrow { left: -12px; }

section.productDetailedContent .productDetailedInfo .sendRequestBtn {
	float: left;
	width: auto;
	height: 27px;
	line-height: 27px;
	padding: 0px 14px 0px 14px;
	margin: 15px 0px 0px 0px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
section.productDetailedContent .productDetailedInfo .sendRequestBtn:hover { background: #487548; }
section.productDetailedContent .productDetailedInfo .sendRequestBtn:active { background: #487548; box-shadow: 0px 1px 0px 0px #003300; margin: 17px 0px -2px 0px; }

section.productDetailedContent .productDetailedInfo .productInfoRight {
	float: right;
	width: 380px;
	height: auto;
	padding: 0px;
	margin: 0px;
}
section.productDetailedContent .productDetailedInfo .productInfoRight .mainImage {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	background: #fff;
	position: relative;
	text-align: center;
	overflow: hidden;
}
section.productDetailedContent .productDetailedInfo .productInfoRight .mainImage img {
	display: block;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: 5;
}
section.productDetailedContent .productDetailedInfo .productInfoRight .mainImage span.effect {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 20;
	opacity: 0;
    overflow:visible;
    border: 0px solid #003300;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section.productDetailedContent .productDetailedInfo .productInfoRight .mainImage:hover span.effect {
   opacity: 0.7;
   border:144px solid #003300;
}
section.productDetailedContent .productDetailedInfo .productInfoRight .mainImage span.effect span.effectIcon {
	float: left;
	width:22px;
    height:22px;
	background:url(../../images/frontend/effectIcon.png) center no-repeat;
	text-decoration: none;
	padding: 0px;
	margin: -10px 0px 0px -10px;
	text-indent:-9999px;
	position: absolute;
	top:50%;
	left: 50%;
	opacity:0;
	z-index: 25;
   -moz-transform:scale(0,0);
   -webkit-transform:scale(0,0);
   -o-transform:scale(0,0);
   -ms-transform:scale(0,0);
   transform:scale(0,0);
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
section.productDetailedContent .productDetailedInfo .productInfoRight .mainImage:hover span.effect span.effectIcon {
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}
.line2 {
	float: left;
	width: 100%;
	height: 1px;
	background: none;
	border-bottom: 1px dotted #7b9e6c;
	padding: 0px;
	margin: 15px 0px 15px 0px;
}
.line3 {
	float: left;
	width: 100%;
	height: 1px;
	background: none;
	border-bottom: 1px dotted #7b9e6c;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}
.backBtn {
	float: left;
	width: auto;
	height: 16px;
	line-height: 16px;
	padding: 0px 0px 0px 9px;
	margin: 0px 0px 20px 0px;
	background: url(../../images/frontend/backBtnArrow.png) no-repeat left 4px;
	font-size: 13px;
	color: #003300;
	font-weight: normal;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.backBtn:hover { color: #fff; }

section.brandsListing {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
.brandBox {
	float: left;
	width: 151px;
	height: auto;
	padding: 0px;
	margin: 0px 19px 24px 0px;
}
.brandBox.noMarginR { margin-left: 1px; }

.brandBox img {
	float: left;
	width: 151px;
	height: 75px;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 0px #b9d2a5;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.brandBox:hover img { box-shadow: 0px 0px 5px 1px #033502; }

.brandBox .brandTitle {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.brandBox:hover .brandTitle { color: #fff; /* margin: -3px 0px 3px 0px; */ }

.brandsDetailedInfo {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.brandsDetailedInfo h2 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 12px 0px;
	margin: 0px 0px 12px 0px;
	border-bottom: 1px dotted #7b9e6c;
	font-size: 20px;
	line-height: 22px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
.brandsDetailedInfo .catsBrandLink {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 12px 0px;
	margin: 0px 0px 12px 0px;
	border-bottom: 1px dotted #7b9e6c;
	font-size: 20px;
	line-height: 22px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.brandsDetailedInfo .catsBrandLink:hover { color: #587858; }

nav.brandCatsNav {
	float: left;
	width: 320px;
	height: auto;
	padding: 0px;
	margin: 0px 20px 10px 0px;
}
nav.brandCatsNav a.subCatsBrandLink {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 2px 0px 8px 0px;
	font-size: 16px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
nav.brandCatsNav a.subCatsBrandLink:hover { color: #587858; }

nav.brandCatsNav ul {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
nav.brandCatsNav ul li {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 3px 0px;
}
nav.brandCatsNav ul li a {
	float: left;
	width: 290px;
	height: auto;
	padding: 7px 10px 7px 20px;
	margin: 0px;
	font-size: 13px;
	line-height: 17px;
	color: #003300;
	background: #d6efc2;
	font-weight: normal;
	text-decoration: none;
	overflow: hidden;
	border-radius: 2px;
	position: relative;
	box-shadow: 0px 0px 0px 0px #618757;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
nav.brandCatsNav ul li a:hover { background: #7fa46c; color: #fff; padding: 7px 10px 7px 18px; box-shadow: 0px 0px 3px 2px #618757; }

nav.brandCatsNav ul li a .arrow {
	width: 7px;
	height: 10px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 6px;
	top: 11px;
	z-index: 10;
	background: url(../../images/frontend/brandCatsNavArrow.png) no-repeat right top;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
nav.brandCatsNav ul li a:hover .arrow { background: url(../../images/frontend/brandCatsNavArrow.png) no-repeat left top; }

section.newsListing {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
.newsListingBox {
	float: left;
	width: 214px;
	height: 282px;
	padding: 11px 12px 0px 11px;
	margin: 0px 18px 42px 0px;
	background: #9cb885;
	box-shadow: 0px 2px 0px 0px #88a87a;
	border-radius: 3px;
	position: relative;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.newsListingBox:hover { background: #7fa46c; box-shadow: 0px 0px 3px 2px #618757; }

.newsListingBox .newsListingIMG {
	float: left;
	width: 214px;
	height: 121px;
	padding: 0px;
	margin: 0px 0px 9px 0px;
	overflow: hidden;
	border-radius: 2px;
}
.newsListingBox .newsListingIMG img {
	float: left;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-radius: 2px;
}
.newsListingBox .newsTitle {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	line-height: 18px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.newsListingBox p {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	line-height: 15px;
	color: #003300;
	font-weight: normal;
	text-decoration: none;
}
.newsListingBox .newsListingBtn {
	float: left;
	width: 152px;
	height: 27px;
	line-height: 27px;
	padding: 0px;
	margin: 0px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	position: absolute;
	left: 42px;
	bottom: -10px;
	z-index: 20;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.newsListingBox:hover .newsListingBtn { bottom: -7px; }
.newsListingBox .newsListingBtn:hover { background: #487548; }
.newsListingBox .newsListingBtn:active { background: #487548; box-shadow: 0px 1px 0px 0px #003300; margin: 2px 0px -2px 0px; }

.pagingBox {
	float: left;
	width: 100%;
	height: 25px;
	padding: 19px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
	text-align: center;
	border-top: 1px dotted #7b9e6c;
}
.pagingBox a {
	display: inline-table;
	width: 22px;
	height: 20px;
	padding: 4px 0px 0px 0px;
	margin: 0px 1px 0px 1px;
	background: #335c33;
	overflow: hidden;
	border-radius: 3px;
	font-size: 13px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	box-shadow: 0px 2px 0px 0px #1c4b19;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
.pagingBox a:hover { background: #538053; }
.pagingBox a.selected { background: #638f63; }
.pagingBox a:active { background: #335c33; box-shadow: 0px 0px 0px 0px #1c4b19; position: relative; bottom: -1px; }

.pagingBox a.prev {
	background: none;
	color: #023502;
	box-shadow: none !important;
	text-decoration: underline;
	width: auto;
	padding: 0px 0px 0px 9px;
	margin-right: 8px;
	background: url(../../images/frontend/prevArrow.png) no-repeat left 4px;
}
.pagingBox a.prev:hover { color: #fff; }

.pagingBox a.next {
	background: none;
	color: #023502;
	box-shadow: none !important;
	text-decoration: underline;
	width: auto;
	padding: 0px 9px 0px 0px;
	margin-left: 8px;
	background: url(../../images/frontend/nextArrow.png) no-repeat right 4px;
}
.pagingBox a.next:hover { color: #fff; }

.newsDetailedInfo {
	float: left;
	width: 565px;
	height: auto;
	padding: 0px;
	margin: 0px;
}
.gallerySliderRight {
	float: right;
	width: 405px;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

.gMapBox {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

section.projectsListing {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	text-align: center;
	/* text-align: justify; */
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.projectsListing .noProjects {
	color: #003300;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin: 20px 0px 60px 0px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
}

/*
.projectBox {
	display: inline-block;
	width: auto;
	height: 200px;
	padding: 0px;
	margin: 0px 10px 20px 10px;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.projectBox:hover { box-shadow: 0px 0px 5px 1px #033502; }

.projectBox img {
	display: inline-block;
	width: auto;
	height: 200px;
	padding: 0px;
	margin: 0px;
	position: relative;
	overflow: hidden;
	z-index: 5;
}
*/

.projectBox {
	float: left;
	padding: 0px;
	margin: 10px;
	position: relative;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.projectBox:hover { box-shadow: 0px 0px 5px 1px #033502; }

.projectBox img { vertical-align: middle; border: none; }

.projectBox span.effect {
	float: left;
	width: 100%;
	height: 200px !important;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 20;
	opacity: 0;
    overflow: visible; 
    border: 0px solid #003300;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.projectBox:hover span.effect {
   opacity: 0.7;
   border: 100px solid #003300;
}
.projectBox span.effectIcon {
	float: left;
	width:22px;
    height:22px;
	background:url(../../images/frontend/effectIcon.png) no-repeat center center;
	border: none !important; 
	text-decoration: none;
	padding: 0px;
	margin: -11px 0px 0px -11px;
	text-indent:-9999px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	z-index: 25;
    -moz-transform:scale(0,0);
   -webkit-transform:scale(0,0);
   -o-transform:scale(0,0);
   -ms-transform:scale(0,0);
   transform:scale(0,0);
   -webkit-transition: -webkit-transform 0.1s 0.1s ease-in, opacity 0.1s ease-in-out;
   -moz-transition: -moz-transform 0.1s 0.1s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.1s 0.1s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.1s 0.1s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.1s 0.1s ease-in, opacity 0.1s ease-in-out; 
}
.projectBox:hover span.effectIcon {
	opacity:1;
	 -moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s; 
}

.loadMoreProjects {
	display: block;
	width: 242px;
	height: 37px;
	line-height: 37px;
	padding: 0px;
	margin: auto;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
.loadMoreProjects:hover { background: #487548; }
.loadMoreProjects:active { background: #487548; box-shadow: 0px 1px 0px 0px #003300; margin: 2px auto -2px auto; }










aside.leftCol {
	float: left;
	width: 200px;
	height: auto;
	min-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 25px 20px 0px 0px;
}
aside.leftCol h2 {
	float: left;
	width: 182px;
	height: auto;
	padding: 9px 8px 7px 8px;
	margin: 0px 0px 3px 0px;
	border-right: 1px solid #214f1d;
	border-top: 1px solid #6f9263;
	border-bottom: 1px solid #4a7342;
	border-radius: 3px;
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	text-decoration: none;
	background: #003300 url(../../images/frontend/leftColH2Arrow.png) no-repeat right 12px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
aside.leftCol nav.leftColNav {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
aside.leftCol nav.leftColNav ul {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
aside.leftCol nav.leftColNav ul li {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 3px 0px;
}
aside.leftCol nav.leftColNav ul li a {
	float: left;
	width: 187px;
	height: auto;
	padding: 5px 6px 5px 6px;
	margin: 0px 0px 0px 0px;
	font-size: 15px;
	line-height: 16px;
	color: #003300;
	background: #d6efc2;
	font-weight: bold;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 0px #426634;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
aside.leftCol nav.leftColNav ul li a:hover { background: #a0c192; color: #426634; box-shadow: 0px 0px 3px 0px #fff; }
aside.leftCol nav.leftColNav ul li a.selected { background: #7d9f70; color: #fff; box-shadow: none !important; }

aside.leftCol nav.leftColNav ul li ul.subNav {
	float: left;
	width: 187px;
	height: auto;
	padding: 5px 6px 5px 6px;
	margin: 0px;
	border-top: 1px dotted #d6efc2;
	background: #7d9f70;
}
aside.leftCol nav.leftColNav ul li ul.subNav li {
	float: left;
	width: 187px;
	height: auto;
	padding: 0px 0px 5px 0px;
	margin: 0px;
}
aside.leftCol nav.leftColNav ul li ul.subNav li a {
	float: left;
	width: 163px;
	height: auto;
	padding: 0px 10px 0px 14px;
	margin: 0px;
	background:url(../../images/frontend/subNavArrow.png) no-repeat left 4px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: normal;
	text-transform: none;
	text-decoration: none;
	box-shadow: none; 
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
aside.leftCol nav.leftColNav ul li ul.subNav li a:hover { color:#1d4c1a; box-shadow: none; background:url(../../images/frontend/subNavArrow.png) no-repeat 2px 4px; }
aside.leftCol nav.leftColNav ul li ul.subNav li a.selected { font-weight:bold; color: #fff !important; background:url(../../images/frontend/subNavArrow.png) no-repeat 2px 4px !important; }

aside.leftCol nav.leftColNav ul li ul.subNav li ul.subNav {
	border: none;
	width: 170px;
	margin-left: 10px;
	margin-bottom: -6px;
}
aside.leftCol nav.leftColNav ul li ul.subNav li ul.subNav li {
	width: 170px;
}
aside.leftCol nav.leftColNav ul li ul.subNav li ul.subNav li a {
	width: 146px;
	padding-left: 14px;
	margin-bottom: 2px !important;
	background: none;
	font-size: 13px;
	line-height: 14px;
	background:url(../../images/frontend/subNavArrow.png) no-repeat left 4px;
}
aside.leftCol nav.leftColNav ul li ul.subNav li ul.subNav li a.selected {
	padding-left: 14px !important;
	background: none !important;
	font-size: 13px !important;
	line-height: 14px !important;
	font-weight: 600 !important;
	color: #1D4C1A !important;
	background:url(../../images/frontend/subNavArrow.png) no-repeat left 4px !important;;
}





aside.rightCol {
	float: right;
	width: 272px;
	height: auto;
	min-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 23px 0px 0px 0px;
}
aside.rightCol .newsLink {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-size: 17px;
	line-height: 19px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
section.rightColNewsContent {
	float: left;
	width: 272px;
	height: auto;
	min-height: 150px;
	padding: 15px 0px 15px 0px;
	margin: 0px 0px 0px 0px;
	background: #7fa46c;
	border-radius: 2px;
}
section.rightColNewsContent article.rightColNewsBox {
	float: left;
	width: 244px;
	height: auto;
	padding: 0px 14px 15px 14px;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px solid #a7c68d;
}
section.rightColNewsContent article.rightColNewsBox .rightColIMG {
	float: left;
	width: 244px;
	height: 138px;
	padding: 0px;
	margin: 0px 0px 9px 0px;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
}
section.rightColNewsContent article.rightColNewsBox .rightColIMG img {
	float: left;
	width: 244px;
	height: 138px;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: 5;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.rightColNewsContent article.rightColNewsBox:hover .rightColIMG img { transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); }

section.rightColNewsContent article.rightColNewsBox .rightColIMG .logoEffect {
	width: 35px;
	height: 35px;
	padding: 0px;
	margin: -18px 0px 0px -18px;
	position: absolute;
	left: 20%;
	top: 50%; 
	z-index: 10;
	background:url(../../images/frontend/indexNewsLogoEffect.png) no-repeat left top;
	opacity: 0;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.rightColNewsContent article.rightColNewsBox:hover .rightColIMG .logoEffect { left: 50%; opacity: 1; }

section.rightColNewsContent article.rightColNewsBox .rightColIMG .fadeEffect {
	float: left;
	width: 100%;
	height: 0px;
	padding: 0px;
	margin: 0px;
	background:url(../../images/frontend/fadeEffectBG.png) repeat-y left top;
	position: absolute;
	border-radius: 2px;
	overflow: hidden;
	left: 0px;
	bottom: 0px;
	z-index: 9;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.rightColNewsContent article.rightColNewsBox:hover .rightColIMG .fadeEffect { height: 138px; }

section.rightColNewsContent article.rightColNewsBox .newsTitle {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	font-size: 16px;
	line-height: 17px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.rightColNewsContent article.rightColNewsBox:hover .newsTitle { color: #e2eeda; }

section.rightColNewsContent article.rightColNewsBox p {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	font-size: 13px;
	line-height: 16px;
	color: #003300;
	font-weight: normal;
	text-decoration: none;
}
section.rightColNewsContent article.rightColNewsBox .moreLink {
	float: left;
	width: auto;
	height: auto;
	padding: 0px 8px 0px 0px;
	margin: 0px 0px 8px 0px;
	font-size: 13px;
	line-height: 15px;
	color: #003300;
	font-weight: normal;
	text-decoration: underline;
	background:url(../../images/frontend/moreLinkArrow.png) no-repeat right 5px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
section.rightColNewsContent article.rightColNewsBox .moreLink:hover { color: #f1f7ed; padding: 0px 10px 0px 0px; }

section.rightColNewsContent .allNews {
	float: left;
	width: 242px;
	height: 37px;
	line-height: 37px;
	padding: 0px;
	margin: 0px 0px 0px 14px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
section.rightColNewsContent .allNews:hover { background: #487548; }
section.rightColNewsContent .allNews:active { background: #487548; box-shadow: 0px 1px 0px 0px #003300; margin: 2px 0px -2px 14px; }

.rightColForm {
	float: left;
	width: 232px;
	height: auto;
	padding: 16px 20px 20px 20px;
	margin: 0px 0px 46px 0px;
	background: #d6efc2;
}
.rightColForm h2 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 18px 0px;
	font-size: 20px;
	line-height: 22px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
.rightColForm p {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	font-size: 13px;
	line-height: 16px;
	color: #003300;
	font-weight: normal;
	text-decoration: none;
}
.rightColForm input {
	float: left;
	width: 214px;
	height: 25px;
	line-height: 25px;
	padding: 5px 8px 5px 8px;
	margin: 0px 0px 5px 0px;
	background: #fff;
	border: none;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 1px 3px 1px #aecc9d;
	font-size: 13px;
	color: #001500;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	font-family: 'PT Sans', Arial, sans-serif;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.rightColForm input:hover { box-shadow: 0px 1px 3px 1px #577744; }
.rightColForm input:focus { background: #f1f1f1; box-shadow: 0px 1px 3px 1px #577744; }
.rightColForm input.error { color: #ac0404; box-shadow: 0px 0px 1px 1px #cb0000; }

.rightColForm input.captchaInput { width: 105px; }

.rightColForm textarea {
	float: left;
	width: 214px;
	height: 80px;
	padding: 10px 8px 10px 8px;
	margin: 0px 0px 5px 0px;
	background: #fff;
	border: none;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 1px 3px 1px #aecc9d;
	font-size: 13px;
	line-height: 16px;
	color: #001500;
	font-weight: bold;
	text-decoration: none;
	font-family: 'PT Sans', Arial, sans-serif;
	resize: vertical;
	outline: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.rightColForm textarea:hover { box-shadow: 0px 1px 3px 1px #577744; }
.rightColForm textarea:focus { background: #f1f1f1; box-shadow: 0px 1px 3px 1px #577744; }
.rightColForm textarea.error { color: #ac0404; box-shadow: 0px 0px 1px 1px #cb0000; }

.rightColForm .errorMsg {
	float: right;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: -33px 10px 0px 0px;
	background: url(../../images/frontend/errorMsgBG.png) no-repeat left top;
}
.rightColForm .infoText {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 8px 0px;
	font-size: 13px;
	line-height: 17px;
	color: #d72310 !important;
	font-weight: normal;
	text-decoration: none;
}
.rightColForm .succssesText {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 10px 0px 12px 0px;
	font-size: 13px;
	line-height: 17px;
	color: #53a114 !important;
	font-weight: bold;
	text-decoration: none;
}

.rightColForm label {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 4px 0px 10px 0px;
	font-size: 13px;
	line-height: 16px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}
.rightColForm .captcha {
	float: left;
	width: 75px;
	height: 35px;
	padding: 0px;
	margin: 0px 6px 0px 0px;
}
.rightColForm .reloadCaptcha {
	float: left;
	width: 24px;
	height: 34px;
	padding: 0px;
	margin: 0px 6px 0px 0px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
	background: url(../../images/frontend/reloadCaptchaIcon.png) no-repeat center center;
}
.rightColForm input.submitBtn {
	float: left;
	width: 233px;
	height: 37px;
	line-height: 37px;
	padding: 0px;
	margin: -2px 0px 0px 0px;
	background: #335c33;
	box-shadow: 0px 3px 0px 0px #003300;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 1px #294a29;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;
}
.rightColForm input.submitBtn:hover { background: #487548; box-shadow: 0px 3px 0px 0px #003300; }
.rightColForm input.submitBtn:active { background: #335c33; box-shadow: 0px 1px 0px 0px #003300; margin: 0px 0px -2px 0px; }














footer {
	float: left;
	width: 100%;
	padding: 25px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background:url(../../images/frontend/footerBG.jpg) no-repeat center top;
}

footer .footerCol {
	float: left;
	width: 200px;
	height: auto;
	min-height: 20px;
	padding: 0px;
	margin: 0px 20px 0px 0px;
}
footer .footerCol.middle { width: 270px; }

footer .footerCol h3 {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px 0px 12px 0px;
	margin: 0px 0px 12px 0px;
	font-size: 16px;
	line-height: 18px;
	color: #a7c68d;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #4a7036;
	position: relative;
	z-index: 10;
	-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;
}
footer .footerCol:hover h3 { color: #dfeed3; }

footer .footerCol h3 span {
	width: 0%;
	height: 1px;
	background: #aecf9d;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	bottom: -1px;
	-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;
}
footer .footerCol:hover h3 span { width: 100%; }

footer .footerCol .footerNav {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 12px 0px;
}
footer .footerCol .footerNav ul {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}
footer .footerCol .footerNav ul li {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 3px 0px;
}
footer .footerCol .footerNav ul li a {
	float: left;
	width: auto;
	height: auto;
	padding: 0px 0px 0px 11px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	line-height: 15px;
	color: #a7c68d;
	font-weight: normal;
	text-decoration: none;
	background:url(../../images/frontend/footerNavArrow.png) no-repeat left 5px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
footer .footerCol .footerNav ul li a:hover { color: #fff; background:url(../../images/frontend/footerNavArrow.png) no-repeat 2px 5px; }

footer .footerCol .footerRequestBanner {
	float: left;
	width: 199px;
	height: 82px;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	overflow: hidden;
	border-radius: 3px;
	/*background:url(../../images/frontend/footerRequestBanner.jpg) no-repeat left top;*/
	box-shadow: 0px 3px 0px 0px #577c3a;
	-webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear;
}
footer .footerCol .footerRequestBanner:hover { opacity: 0.7; }
footer .footerCol .footerRequestBanner:active { box-shadow: 0px 1px 0px 0px #577c3a; margin: 12px 0px -2px 0px; }

footer .footerCol .fb-like-box { background: #fff; }

footer .footerCol p {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-size: 13px;
	line-height: 18px;
	color: #a7c68d;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
footer .footerCol p.addres { padding-left: 35px; background:url(../../images/frontend/footerColAddres.png) no-repeat left 4px; }
footer .footerCol p.addres:hover { background:url(../../images/frontend/footerColAddres.png) no-repeat left 7px; }

footer .footerCol p.addres strong { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
footer .footerCol p.addres:hover strong { color: #d8e7cb; } 

footer .footerCol p a {
	font-size: 13px;
	line-height: 18px;
	color: #a7c68d;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
footer .footerCol p.addres:hover a { color: #d8e7cb; } 

footer .footerCol p a img { 
	float: left;
	padding: 0px;
	margin: 0px;
	-webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear;
}
footer .footerCol p a img:hover { opacity: 0.8; }

footer .footerBottom {
	float: left;
	width: 100%;
	height: 22px;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 15px 0px;
	border-top: 1px solid #4a7036;
}
footer .footerBottom span {
	float: left;
	width: auto;
	height: 22px;
	line-height: 22px;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #b9d2a5;
	text-decoration: none;
	font-weight: normal;
}
footer .footerBottom span a { 
	color: #b9d2a5; 
	text-decoration: underline; 
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; 
}
footer .footerBottom span a:hover { color: #eff5e9; }

footer .footerBottom span img {
	float: left;
	padding: 0px;
	margin: 0px 10px 0px 0px;
}
footer .footerBottom .stenik {    
    float: right;
    width: auto;
    height: 22px;
    line-height: 22px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-decoration: none;
    color: #b9d2a5;
    font-size: 12px;
    font-weight: normal;
}
footer .footerBottom .stenik a {
    color: #b9d2a5;
    text-decoration: none;
    -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; 
}
footer .footerBottom .stenik a.stenikLink { color: #b9d2a5; text-decoration: underline; }
footer .footerBottom .stenik a.stenikLink:hover { color: #eff5e9; }

footer .footerBottom .stenik img {
    float: left;
    width: auto;
    margin: 0px 4px 0px 0px;
    padding: 0px;
}


/* ---- Styles for the responsive version ---- */
.responsiveMenu, .menuHandle, .tinynav,
.responsiveClear1, .responsiveClear2,
.responsiveClear3, .responsiveClear4,
.responsiveClear5, .responsiveClear6 {
	display: none;
}
.tinynav {
	float: left;
	width: 100%;
	height: 40px;
	padding: 5px;
	margin-top: 5px;
	background: #d6efc2;
	border: 1px solid #030;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tyxoCounter {
	position: absolute;
	left: -9999px;
}
footer .footerCol p {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.productListingTable td img {
	vertical-align: middle;
}

/* hidden field scroll fix*/
input#contact_request {
	left: -9999px;
}
/* Table cell auto resize fix */
.productListingTable { table-layout: fixed; }
.productListingTable .modelCol { width: 175px; }
.productListingTable .colorCol { width: 65px; }
.productListingTable .imgCol { width: 108px; }
.productListingTable .descCol { width: 147px; }
.productListingTable .featureCol { width: 147px; }
.productListingTable .specCol { width: 110px; }
.productListingTable .optionCol { width: 77px; }

.hasLeftCol .productListingTable .modelCol { width: 125px; }
.hasLeftCol .productListingTable .colorCol { width: 50px; }
.hasLeftCol .productListingTable .descCol { width: 115px; }
.hasLeftCol .productListingTable .featureCol { width: 110px; }
.hasLeftCol .productListingTable .specCol { width: 84px; }
.hasLeftCol .productListingTable .optionCol { width: 55px; }
.hasLeftCol .productListingTable .optionCol.last { width: 60px; }
