/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */



.scrollable {
	width:306px!important;
	height:138px!important;
	overflow: auto;
	float:left;
	outline:none!important;
}


.horizontal-only
{
	height: auto;
	max-height: 200px;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
	outline:none!important;
}

.jspPane {
	position: absolute;
	margin-left:0!important;
	outline:none!important;
}

.jspVerticalBar
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 8px;
}
.selectBox ul.subSelect .jspVerticalBar { right: 4px; width: 4px; }

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	position: relative;
	margin: 0px 0px 0px 0px;
	height:100%;
	width: 8px;
	background: url(../../images/frontend/jspTrackBG.jpg) repeat-y center top;
	overflow:hidden;
}
.productDetailedInfo .jspTrack { background: url(../../images/frontend/jspTrackBG.png) repeat-y center top; }

.jspDrag {
	position: relative;
	width: 4px;
	top: 0px;
	left: 50%;
	cursor: pointer;
	background: #fff;
	overflow: hidden;
	border: none;
	border-radius: 2px;
	margin: 0px 0px 0px -2px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.rightIndexCol:hover .jspDrag { background: #5d8254; margin: 0px 0px 0px -4px; width: 8px; }

.productDetailedInfo .jspDrag { background: #003600; }



.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #fff;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
	line-height:8px;
}

.jspVerticalBar .jspArrowUp {
	background: url("../images/scroll-arow-up.jpg") no-repeat left 3px;
	height:12px;
}

.jspVerticalBar .jspArrowDown {
	background: url("../images/scroll-arow-down.jpg") no-repeat left 3px;
	height:12px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}