/******************************************************\
*
*  Base TouchCarousel stylesheet
*   
*  Contents:
*
*   1. Main containers
*   2. Carousel items
*   3. Arrows(direction) navigation
*   4. Paging navigation
*   5. Scrollbar
*   6. Cursors
*
\******************************************************/





/******************************************************\
*
*  1. Main containers (carousel size, background)
*
\******************************************************/

.touchcarousel {
	position: relative;
	width: 712px;
	height: 405px;	
	margin: 0px 0px 0px 0px;
	padding: 0px;
	
	/* style is removed after carousel is inited, use !important if you want to keep it*/
	overflow: hidden; 
}
.touchcarousel .touchcarousel-container {
	position: relative;    
    margin: 0;
    padding: 0;
    list-style: none;    
	left: 0;
}
.touchcarousel .touchcarousel-wrapper {
	position: relative;
	overflow:hidden;
	width: 100%;
	height: 100%;
}





/******************************************************\
*
*  2. Carousel items (item styling, spacing between items)
*
\******************************************************/

.touchcarousel .touchcarousel-item {
	/* use margin-right for spacing between items */
	margin: 0 0 0 0;
	padding: 0;	
	float: left;	
	width: 712px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}
.gallerySliderStyle .touchcarousel .touchcarousel-item { width: 588px; }
.gallerySliderStyle .touchcarousel .touchcarousel-container { height: 159px; }

/* Last carousel item  */
.touchcarousel .touchcarousel-item.last {
	margin-right: 0 !important;		
}





/******************************************************\
*
*  3. Arrows(direction) navigation
*
\******************************************************/

/* arrow hitstate and icon holder */
.touchcarousel .arrow-holder {
	display: none !important;
	height: 46px;
	width: 30px;
	position: absolute;
	top: 50%;
	display: block;
	border: none;
	padding: 0px;
	margin: -24px 0px 0px 0px;
	cursor: pointer;	
	z-index: 25;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; 
}
.touchcarousel .arrow-holder.left {	left: 10px; }
.touchcarousel .arrow-holder.right { right: 10px; }

.touchcarousel .arrow-holder.left:hover { left: 5px; }
.touchcarousel .arrow-holder.right:hover { right: 5px; }

/* arrow icons */
.touchcarousel .arrow-icon {
    display: block;	
	width: 30px;
	height: 46px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; 
}
.touchcarousel .arrow-holder.left .arrow-icon { background: url(../images/touchcarouselLeftRight.png) no-repeat left top; }
.touchcarousel .arrow-holder.right .arrow-icon { background: url(../images/touchcarouselLeftRight.png) no-repeat right top; }

.touchcarousel .arrow-holder.left:hover .arrow-icon { opacity: 0.8; }
.touchcarousel .arrow-holder.right:hover .arrow-icon { opacity: 0.8; }


.touchcarousel .arrow-holder.disabled { display: none !important; }
.touchcarousel .arrow-holder.disabled .arrow-icon { display: none !important; }





/******************************************************\
*
*  4. Paging navigation
*
\******************************************************/

.touchcarousel .tc-paging-container {
	float: left;
	width:auto;
	height: 12px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: -34px;
	z-index: 20;
	margin: 0px 0px 0px 0px;
	z-index:25;
}
/*
.touchcarousel .tc-paging-centerer {	
	float: left;
	position: relative;
	left: 50%;		
}
.touchcarousel .tc-paging-centerer-inside {
	float: left;
	position: relative;
	left: -50%;
}
*/

/* Paging items */
.touchcarousel .tc-paging-item {			
	float:left;	
	cursor:pointer;		
	position:relative;
	display:block;
	width: 7px;
	height: 7px;
	line-height: 7px;
	text-indent: -999;
	background: #648353;
	font-size: 1px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #648353;
	color: #648353;
	margin: 0px 0px 0px 3px;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; 
}
.touchcarousel .tc-paging-item.current { background: #b9d2a5; }
.touchcarousel .tc-paging-item:hover { border: 2px solid #b9d2a5; background: #648353; }





/******************************************************\
*
*  5. Scrollbar
*
\******************************************************/
.touchcarousel .scrollbar-holder {
	position: absolute;
	z-index: 30;
	left: 6px;
	right: 6px;	
	bottom: 5px;
	height:4px;
	overflow: hidden;
}
.touchcarousel .scrollbar {
	position: absolute;
	left:0;	
	height:4px;
	bottom: 0px;
}
.touchcarousel .scrollbar.dark {
	background-color: rgb(130, 130, 130);	
	background-color: rgba(0, 0, 0, 0.5);
}
.touchcarousel .scrollbar.light {
	background-color: rgb(210, 210, 210);	
	background-color: rgba(255, 255, 255, 0.5);	
}





/******************************************************\
*
*  6. Cursors
*
\******************************************************/

/* IE and Opera use "move", FF uses -moz-grab */
.touchcarousel .grab-cursor{ cursor:url(grab.png) 8 8, move; }
.touchcarousel .grabbing-cursor{ cursor:url(grabbing.png) 8 8, move; }

/* Cursor that used when mouse drag is disabled */
.touchcarousel .auto-cursor{ cursor:auto; }




/* Copyright 2011, Dmitry Semenov, http://dimsemenov.com */